
.slider .indicators .indicator-item
{
	height: 7px;
	width: 7px;
	background-color: #666666;
	/*border: 1px solid #ffffff;*/
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.slider .indicators .indicator-item.active
{
	background-color: #ffffff;
}
.slider .indicators
{
	bottom: 60px;
	z-index: 100;
/* text-align: left; */
}

a .btn-large
{
	border: 1px solid #ffffff;
}

nav {
    height: 30px;
    line-height: 30px;
    border-style: none;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 30px;
    line-height: 30px;
}

nav .button-collapse i {
    height: 30px;
    line-height: 30px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 30px;
        line-height: 30px;
    }
}

.z-depth-0 {
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 0 0 0 rgba(0, 0, 0);
}

.greytop{
    background-color: #444
}

.verdemomentum{
    color: #95b629;
}

.grismomentum{
    color: #5a5a5a;
}

.logonav{
    height: 50px;
}
 .slider{
	 height: 400px;
 }

 .btnmomentum{
	 border: 3px solid #95b629;
	 color: #95b629;
 }

 .font-gray{
    color: #707372;
 }


 li.prueba {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  background: dodgerblue;
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
}

li.prueba::before{
  content: '';
  position: absolute;
  top: .9em;
  left: -4em;
  width: 4em;
  height: .2em;
  background: dodgerblue;
  z-index: -1;
}


li.prueba:first-child::before {
  display: none;
}

.active .prueba{
  background: white;
}

.active ~ li.prueba {
  background: lightblue;
}

.active ~ li.prueba::before {
  background: lightblue;
}
